@import "/variables";
@import "/helper";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $r;
}

::after,
::before {
  box-sizing: border-box;
}
